[Desktop Entry]
Name=litebook-desktop-icons
GenericName=Litebook desktop icons starter
Comment=Enables desktop icons for Pantheon on the Litebook v1
Exec=/etc/litebook-scripts/scripts/litebook-desktop-icons-start.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
